[mysqld]
pid-file = /var/run/mysqld/mysqld.pid
log-error = /var/log/mysqld.log
datadir = {{ mysql_datadir }}
socket = {{ mysql_socket }}
# symbolic-links = 0  # deprecated

server-id = {{ mysql_server_id }}
innodb_file_per_table = 1
skip-name-resolve
