[mysqld]
log-bin = mysql-bin
binlog_expire_logs_seconds = 604800  # 7 days
max-binlog-size = 16M
# binlog-format = "MIXED"  # deprecated

# GTID replication config
log_replica_updates = On
gtid-mode = On
enforce-gtid-consistency = On

{% for table in mysql_replicate_ignore_tables %}
replicate-ignore-table={{ table }}
{% endfor %}
